.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
color: #fff;
border: none;
border-radius: 8px;
padding: 9px 25px;
cursor: pointer;
}
.h1-size{
    font-size: 60px;}

    .cat1, .cat2, .cat3{ padding:10px 30px ;
        border-radius: 20px;
        
    }
    
    .cat1{
        background-image: linear-gradient(to right, orange 0%, yellow 100%);
    }
    .cat2{
        background-image: linear-gradient(to right, #ff589b 0%, #ff136f 100%);
    }
    .cat3{
        background-image: linear-gradient(to right, skyblue 0%, blue 100%);
    }
   p{color: gray;}
   .categories h1{color: white;}
   .categories img{width: 100px;}

   .card{
       border: none;
       box-shadow: 5px 5px 10px lightgray;
   }
   
   .subscribe h6{color: gray;}



